:root {
    --cornhusk: #f3d5ad;
    --peach-quartz: #f5b895;
    --peach-quartz-dark: #df9d76;

    --moonlit-asteroid-dark: #0F2027;
    --moonlit-asteroid: #203A43;
    --nightsky-dark: #2C5364;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(/fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
}

html {
  min-height: 100%;

  color: #343434ed;
  background: linear-gradient(180deg, 
    var(--cornhusk) 40%,
    var(--peach-quartz) 80%,
    var(--peach-quartz-dark) 100%
  );

  @media (prefers-color-scheme: dark) {

  color: #cdcdcdc2;

    background: linear-gradient(180deg, 
    var(--nightsky-dark) 0%,
    var(--moonlit-asteroid) 40%,
    var(--moonlit-asteroid-dark) 80%,
    black 100%
  );

    
  };

  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
  @media screen and (min-width: 600px) {
    font-size: 4rem;
    
  }
  font-family: 'PlayfairDisplay', serif;
  font-weight: 500;
}

a {
  color: blue;
  &:hover {
    color: indigo;
  }

  @media (prefers-color-scheme: dark) {
    color: green;
    &:hover {
      color: blue;
    }
  }
}