---
import '../styles/global.css';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jacob Packert</title>
  </head>
  <body>
    <h1>Hi! I'm Jacob 👋</h1>

    <section>
      <p>I like the Internet, tech, music and code.</p>
      <p>
        I live in lovely
        <a
          href="https://medium.com/@jacobpackert/why-bicycling-in-copenhagen-is-so-fantastic-ac5e56349df7"
          target="_blank"
          rel="noopener noreferrer"
        >Copenhagen</a>.
      </p>
      <p>
        I work as a Lead Engineer at <a href="https://lego.com" target="_blank" rel="noopener noreferrer">LEGO</a>, building cool digital products for grown-ups.
      </p>
      <p>
        I used to work with politics, then I worked with marketing. Some would
        say that's the same thing.
      </p>
      <p>
        Now I write code for a living and build products and websites. For work
        and for fun.
      </p>
      <p>
        I love JavaScript, TypeScript, Node.js and React, and I've built a
        few apps with React Native.
      </p>
      <p>
        I occassionally dabble in Python, and I'm also dipping my toes into languages like .NET, Swift and Rust.
      </p>
    </section>
  </body>
</html>
