---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <style>
      p {
        font-size: 1.2rem;
        @media (min-width: 600px) {
          font-size: 1.5rem;
        }
      }

      .contact {
        padding: 4px 16px 16px 16px;
        border-radius: 8px;
        background: var(--white);
        margin: 0px -16px;

        box-shadow:
          0 1px 1px var(--moonlit-asteroid-dark-transparent),
          0 2px 2px var(--moonlit-asteroid-dark-transparent),
          0 4px 4px var(--moonlit-asteroid-dark-transparent),
          0 8px 8px var(--moonlit-asteroid-dark-transparent),
          0 16px 16px var(--moonlit-asteroid-dark-transparent);

        @media (prefers-color-scheme: dark) {
          background-color: var(--nightsky-dark-transparent);
          box-shadow:
            0 1px 1px var(--black-transparent),
            0 2px 2px var(--black-transparent),
            0 4px 4px var(--black-transparent),
            0 8px 8px var(--black-transparent),
            0 16px 16px var(--black-transparent);
        }

        h2 {
          font-family: "PlayfairDisplay", serif;
          font-weight: 900;
          font-size: 2rem;
          line-height: 2rem;
        }

        p {
          font-size: 1.2rem;
          line-height: 1rem;
        }

        ul {
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          padding: 0;
          margin: 0;
          font-size: 1.3rem;
        }
      }
    </style>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      content="#F3D5AD"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#2C5364"
      media="(prefers-color-scheme: dark)"
    />
    <title>Jacob Packert</title>
  </head>
  <body>
    <h1>Hi! I'm Jacob Packert ✨</h1>

    <section>
      <p>I like the tech, urbanism, music and code.</p>
      <p>
        I live in lovely
        <a
          href="https://medium.com/@jacobpackert/why-bicycling-in-copenhagen-is-so-fantastic-ac5e56349df7"
          target="_blank"
          rel="noopener noreferrer">Copenhagen</a
        >, Denmark.
      </p>
      <p>
        I work as a Lead Engineer at <a
          href="https://lego.com"
          target="_blank"
          rel="noopener noreferrer">The LEGO Group</a
        >, building cool digital products for grown-ups.
      </p>
      <p>
        I used to work with politics, then I worked with marketing. Some would
        say that's the same thing.
      </p>
      <p>
        Now I write code for a living and build products and websites. For work
        and for fun.
      </p>
      <p>
        I love JavaScript, TypeScript, Node.js and React, and I've built a few
        apps with React Native.
      </p>
      <p>
        I occassionally dabble in Python, and I'm also dipping my toes into
        languages like .NET, Swift and Rust.
      </p>
    </section>
    <section class="contact">
      <h2>Get in touch</h2>
      <p>Phone: (+45) 28 14 72 96</p>
      <p>
        Email: <a href="mailto:jacobpackert@gmail.com">jacobpackert@gmail.com</a
        >
        <ul>
          <li>
            <a
              href="https://twitter.com/jacobpackert"
              target="_blank"
              rel="noopener noreferrer">Twitter</a
            >
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/jacobpackert"
              target="_blank"
              rel="noopener noreferrer">Linkedin</a
            >
          </li>
          <li>
            <a
              href="https://github.com/jacobpackert"
              target="_blank"
              rel="noopener noreferrer">Github</a
            >
          </li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </p>
    </section>
    <footer>
      © {new Date().getFullYear()}, Built with <a
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      > and hosted on <a
        href="https:www.netlify.com"
        target="_blank"
        rel="noopener noreferrer">Netlify</a
      >
    </footer>
  </body>
</html>
