---

---

<style>
  .contact {
        padding: 4px 16px 16px 16px;
        border-radius: 8px;
        background: var(--white);
        margin: 0px -16px;

        box-shadow:
          0 1px 1px var(--moonlit-asteroid-dark-transparent),
          0 2px 2px var(--moonlit-asteroid-dark-transparent),
          0 4px 4px var(--moonlit-asteroid-dark-transparent),
          0 8px 8px var(--moonlit-asteroid-dark-transparent),
          0 16px 16px var(--moonlit-asteroid-dark-transparent);

        @media (prefers-color-scheme: dark) {
          background-color: var(--nightsky-dark-transparent);
          box-shadow:
            0 1px 1px var(--black-transparent),
            0 2px 2px var(--black-transparent),
            0 4px 4px var(--black-transparent),
            0 8px 8px var(--black-transparent),
            0 16px 16px var(--black-transparent);
        }

        h2 {
          font-family: "PlayfairDisplay", serif;
          font-weight: 900;
          font-size: 2rem;
          line-height: 2rem;
        }

        p {
          font-size: 1.2rem;
          line-height: 1rem;
        }

        ul {
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          padding: 0;
          margin: 0;
          font-size: 1.3rem;
        }
      }
</style>

<section class="contact">
  <h2>Get in touch</h2>
  <p>Phone: (+45) 28 14 72 96</p>
  <p>
    Email: <a href="mailto:jacobpackert@gmail.com">jacobpackert@gmail.com</a
    >
    <ul>
      <li>
        <a
          href="https://twitter.com/jacobpackert"
          target="_blank"
          rel="noopener noreferrer">Twitter</a
        >
      </li>
      <li>
        <a
          href="http://www.linkedin.com/in/jacobpackert"
          target="_blank"
          rel="noopener noreferrer">Linkedin</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jacobpackert"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
      </li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </p>
</section>